<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div>
            <input type="text" v-model="name" placeholder="姓名">
            <input type="text" v-model="age" placeholder="年龄">
            <input type="text" v-model="email" placeholder="email">
            <input type="text" v-model="tel" placeholder="电话号码">
        </div>
        <div>
            <p>
                姓名：
                <span>
                    {{name}}
                </span>
            </p>
            <p>
                年龄：
                <span>
                    {{age}}
                </span>
            </p>
            <p>
                email：
                <span>
                    {{email}}
                </span>
            </p>
            <p>
                电话号码：
                <span>
                    {{tel}}
                </span>
            </p>
        </div>

    </div>
    <script src="./myVue.js">

    </script>
    <script>
        const app = new Vue('app', {
            name: 'jiayukang',
            age: 25,
            email: '12345678@123.com',
            tel: '123456'
        })
    </script>
</body>

</html>